/* Enables flex for main container */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* styles blog container */
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(252, 252, 252);
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px;
    opacity: 0.8;
    width: 50%;
  }

  article:hover {
    border: cyan solid 5px;
    opacity: 1;
  }
/* Styles blog image */
  article img {
    width: 50%;
    border-radius: 10px;
  }

  /* Styles blog title and text */
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }

/* Tablet */
  @media only screen and (max-width: 914px) {
    article img {
        width: 90%;
    }

    article {
      width: 100%;
      opacity: 100%;
    }
  }

/* Phone */
   @media only screen and (max-width: 566px) {
    article img {
        width: 80%;
    }
  }