/* Enables flex for article container and sets margin */
article {
    display: flex;
    justify-content: center;
    margin: 10rem;
}

/* Styles contact text */
.contact {
    font-size: 3rem;
    color: white;
    border: white solid;
    padding: 10px;
    border-radius: 5px;
}

/* Styles social media icons */
.icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -20rem;
    margin: 10rem;
}

.icon {
    transition: 0.3s;

}
.icon:hover {
    transform: scale(1.5);
    border: cyan 3px solid;
    border-radius: 10px;
}

/* Tablet */
@media only screen and (max-width: 874px) {
    article {
        margin: 5rem;
    }
    .contact {
        font-size: 2rem;
}
}
